@import '../../../../assets/stylesheets/index.scss';

.card {
  &__menu {
    display: none;
    &_visible {
      padding-left: 2rem;
      padding-bottom: 2rem;
      border-radius: 4%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      position: absolute;
      left: 22%;
      right: 22%;
      top: 22%;
      bottom: 22%;
      margin: auto;
      background: white;
      h3 {
        margin-bottom: 0.2rem;
      }
    }
  }
  &__buttons {
    width: 100%;
    margin-top: 0.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  &__button {
    width: 7rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    font-size: 0.7rem;
    font-weight: 600;
    color: $color-white;
    background-color: $color-blue-button;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0.3rem 0.3rem 1rem 0 rgba(0, 0, 0, 0.1);

    &:hover {
      cursor: pointer;
      color: $color-blue-button;
      background-color: $color-white;
      box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
      transition: all 0.5s ease;
    }

    &:not(:hover) {
      transition: all 0.5s ease;
    }
    &:active {
      transform: translateY(4px);
    }
  }
  &__description {
    width: 15rem;
    height: 90%;
    border-radius: 0.4rem;
    color: rgba(0, 0, 0, 0.42);
    outline: none;
    resize: none;

  }
  &__date {
    h4 {
      margin-bottom: 0.1rem;
    }
    span {
      font-size: 0.9rem;
    }
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
}

@media (max-width: 550px) {
  .card {
    &__menu {
      &_visible {
        left: 12%;
        right: 12%;
        top: 12%;
        bottom: 12%;
        h3 {
          font-size: 0.9rem;
        }
      }
    }
    &__description {
      width: 11rem;
      height: 7rem;
    }
    &__date {
      h4 {
        font-size: 0.8rem
      }

      span {
        font-size: 0.7rem;
      }
    }

    &__buttons {
      margin-top: 0.3rem;
    }
    &__button {
      width: 5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
      font-size: 0.5rem;
    }
  }
}
