@import "../../assets/stylesheets/index.scss";

.burger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 1.8rem;
  height: 2rem;
  font-size: 0;
  border: none;
  cursor: pointer;
  transition: background 0.3s;

  &:focus {
    outline: none;
  }

  & span {
    display: block;
    position: absolute;
    top: 1.2rem;
    left: 0.1rem;
    right: 0.1rem;
    height: 0.3rem;
    background: $color-black;
  }

  &:hover span {
    background: none;
    transition: all 0.3s ease;
  }

  & span::before,
  & span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 0.3rem;
    background-color: $color-black;
    content: "";
    transition: all 0.3s ease;
  }

  & span::before {
    top: -0.5rem;
    transition-property: top, transform;
  }

  &:hover span::before {
    top: 0;
    transform: rotate(45deg);
  }

  & span::after {
    bottom: -0.5rem;
    transition-property: bottom, transform;
  }

  &:hover span::after {
    top: 0;
    transform: rotate(-45deg);
  }
}


@media (max-width: 768px) {
  .burger{
    transition: all 1s ease;
  }
}

