@charset "UTF-8";

$color-black: #000;
$color-black-h1: rgba(0, 0, 0, 0.61);
$color-blue-title-start: #30CFD0;
$color-blue-title-end: #330867;
$color-white: #fff;
$color-blue-button: #06cafe;
$color-grey-placeholder: #e3e3e3;


body {
  margin: 0;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
}
