@import "@/assets/stylesheets/index.scss";

.search {
  &__input {
    width: 13rem;
    height: 2.5rem;
    padding: 0.1rem 0 0.1rem 3rem;
    border: none;
    border-radius: 2rem;
    outline: none;
    box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }

  &__wrapper {
    position: relative;
  }

  &__icon {
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    padding: 0;
    height: 1.5rem;
  }
}

@media (max-width: 768px) {
  .search {
    &__wrapper {
      width: 25%;
      height: 2.5rem;
    }
    &__input {
      width: 100%;
    }

  }

}
