@import "@/assets/stylesheets/index.scss";

.search {
  &__wrapper {
    position: relative;
    caret-color: transparent;
    margin-right: 0.2rem;
  }
  &__input {
    width: 10rem;
    height: 2.5rem;
    padding: 0.1rem 0 0.1rem 3rem;
    margin-right: 0.1rem;
    border: none;
    border-radius: 2rem;
    outline: none;
    box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    caret-color: $color-black;
  }

  &__icon {
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    padding: 0;
    height: 1.5rem;
  }
}

@media (max-width: 768px) {
  .search {
    &__wrapper {
      width: 7rem;
      height: 2.5rem;
    }
    &__input {
      width: 100%;
    }

  }

}
