.icon_body {
  display: flex;
  fill: currentColor;

  svg {
    width: 100%;
    height: 100%;
  }
}

.size_l {
  margin-top: 10px;
  width: 0.75rem;
  position: absolute;
  margin-right: auto;
  right: 15px;
  cursor: pointer;
}

.size_xs {
  width: 1.5rem;
  margin: 0;
}

.size_sm {
  width: 2rem;
  height: 2rem;
}

.size_md {
  width: 3rem;
  height: 3rem;
}

.size_lg {
  width: 10rem;
  height: 10rem;
}

.size_xl {
  width: 15rem;
  height: 15rem;
}

.icon_clickable {
  cursor: pointer;
}
